*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "iranYekan";
}
@font-face {
    font-family: 'iranYekan';
    src: url('Font/Qs_Iranyekan.ttf'); /* IE9 Compat Modes */
    src: url('Font/Qs_Iranyekan black.ttf') format('ttf'), /* IE6-IE8 */
    url('Font/Qs_Iranyekan bold.ttf') format('ttf'), /* Super Modern Browsers */
    url('Font/Qs_Iranyekan extrablack.ttf') format('ttf'), /* Pretty Modern Browsers */
    url('Font/Qs_Iranyekan extrabold.ttf')  format('ttf'), /* Safari, Android, iOS */
    url('Font/Qs_Iranyekan medium.ttf') format('ttf'), /* Legacy iOS */
    url('Font/Qs_Iranyekan thin.ttf') format('ttf'); /* Legacy iOS */

}

.body--empty--card{
    width: 500px;
    height: 140px;
    border:3px solid rgb(227, 226, 226);
    box-shadow:rgba(0, 0, 0, 0.25) ;
    border-radius:10px ;
    padding-right: 30px;
    padding-top:15px;



}
.body--empty--card-position{
    display: flex;
    justify-content:space-between;

}
.body--empty--card-position-p{
    margin-left:30px;
    color: rgba(191, 145, 5, 1);
    font-weight: bold;
}
.body--empty--card-position-p1{
    color: rgba(35, 143, 124, 1);
    margin-left:30px;
    font-weight: bold;
}
.body--empty--card-position-p3{
    color: rgba(165, 40, 52, 1);
    margin-left:30px;
    font-weight: bold;
}
.body--empty--card-position-p4{
    margin-left: 30px;
    color: black;
    font-weight: bold;
}
.body--empty--card-position-p{
    margin-left:30px;
    color: rgba(191, 145, 5, 1);
    font-weight: bold;
}
.body--empty--row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.body--empty-show-order{
    width:1050px;margin-left:-1600px;margin-right: 262px;height:800px;border-radius: 10px;background-color: white;
margin-top: -10px;
}

/* room */


.body--empty--room--container{
    width:1050px;margin-left:-1600px;margin-right: 262px;height:800px;border-radius: 10px;background-color: white;
    margin-top: 2px;
}
.add-project{
    background-color: rgba(29, 64, 215, 1);
    border: none;
    border-radius: 50%;
    width:45px;
    height:45px;
 position: absolute;
  margin-right: -200px;
}
.add-project img{
    align-items: center;
    margin-top: 5px;
}
.add-project-para{
    position: absolute;
    margin-right: -140px;
}
.body--empty-right{

   height:799px;border-radius: 10px;background-color: white;
}
.body--empty--para{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.body--empty-left{
    border:3px solid rgba(211, 211, 211, 1);
    width:45%;
    height:449px;border-radius: 10px;background-color: white;
}
.body--empty-left-items{
    width:45%;
    height:449px;border-radius: 10px;background-color: white;
}

.body--empty-right-title{
    background-color: rgba(217, 217, 217, 1);
    height: 30px;
    width: 490px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right:15px;
}
.body--empty-right-title p{
    font-size: 14px;
}
.body--empty-right-item{
    display: flex;
    justify-content: space-around;
}
.body--empty-room-work{
   display: flex;
    justify-content: space-around;
}
.body__empty-left-news{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #edecec;
    margin-top: 10px;
    padding-top: 10px;
    /*padding-right:20px;*/
    padding-bottom: 10px;
    margin-right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body__empty-left-news p{
    margin-right: -60px;
}

.body__empty-left-notification{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#FF0000;
    margin-right: 20px;
}

.body__empty--left-bg{
  position: relative;
}
.body__empty--left--img{
    width: 470px;
    margin-right: 2px;
    border-radius:10px;
}
.body__empty--left-bg p {
    color: white;
    position: absolute;
    margin-right: 180px;
    margin-top: 25px;

}

/*notification*/


.body--empty-left--notification{
    border:3px solid rgba(211, 211, 211, 1);
    width:45%;
    height:665px;border-radius: 10px;background-color: white;
    padding-right: 20px;
    padding-top: 20px;
}
.body__empty--left-p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.body--empty-left-btn{
    margin-top: 20px;
    width: 160px;
    height:40px;
    background-color:#2EBFA5 ;
    color: #ffffff;
  text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right:250px;
}

/* chat */
.body--empty-chats{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.body--empty--chat{
    width: 409px;height: 171px;border: 2px solid gray;
    border-radius: 6px;

}

.body--empty-chats-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top:130px;
}



.body--empty-chats--container-right{
    display: flex;
    margin-top: 400px;
    margin-right: 40px;

}
.body--empty-chats--container-right img{
    margin-left: 20px;
}
.body--empty-chats--container-left{
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
}
.body--empty-chats--container-left img{
    margin-right: 20px;
}
.body--empty-chats-search{
    width: 850px;
    height:44px;
    border-radius: 10px;
    margin-top: 155px;
    margin-right: 100px;
    border: 1px solid #B0B2B6;
    position: relative;
}

.body--empty-chats-icon{
    position: absolute;
    margin-top: 163px;
   margin-right: -45px;
}
/* pay */

.body--empty-pay-container{
    width:1050px;margin-left:-1600px;margin-right: 262px;height:800px;border-radius: 10px;background-color: white;
    margin-top: 2px;


}

.body--empty--header{
    display: flex;
    justify-content: space-evenly;
}

.body--header-items{
    width:300px;
    height: 140px;
    border-radius: 10px;
    background-color:#D9D9D9 ;

}
.body--header-items p{
    text-align: center;
    margin-top: 15px;
}
.body--header-items button{
    background-color: #1938FF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-right:90px;
    margin-top: 6px;
}
.body--empty-pay{
        height:799px;border-radius: 10px;background-color: white;
    }



.body--empty-right-title-pay{
        color: white;
        background-color: #28303F;
        height: 30px;
        width: 97%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-right:15px;
         border-radius: 10px;

}
.body--empty-right-title-pay p{
    margin-right:75px;
}

.body--empty--para-pay{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
}
.body--empty-pay-footer{
    background-color: #BFD9F4;
    width: 988px;
    height:169px ;
    border-radius: 10px;
    margin-top: 140px;
    margin-right: 30px;

}

.body--empty-pay-footer p {
    text-align: center;
    color: black;
    padding-top: 25px;
    font-size: 20px;
    font-weight: 600;

}

.body--empty-pay-footer button{
    background-color: #1938FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 42%;
}

/* ticket*/


.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;

}
.box {
    background: white;
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: right;
}
th{
    background: #001f3f;
    color: white;
}
.status {
    font-weight: bold;
}
.pending {
    color: orange;
}
.answered {
    color: green;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-group input[type="checkbox"] {
    width: auto;
}
.form-group textarea {
    resize: vertical;
    min-height: 100px;
}
button {
    background: #001f3f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.footer-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    margin-top: 30px;
    /*display: flex;*/
    text-align: left;

}
.footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 25px;
    font-size: 1.5rem;
    margin-left: 50px;


}
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}


.footer-address{
  text-align: start;
margin-top:-80px;

}


/* asked questions*/


.body--empty-btn-first{
    width: 150px;
    height: 50px;
    background-color:#17A2B8 ;
    color: white;
    border-radius:25px ;

}
.body--empty-asked{
    width:1200px;margin-right: 102px;height:590px;border-radius: 10px;background-color: white;

    /*border:2px solid rgba(211, 211, 211, 1);*/
    /*box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);*/

}

.body--empty-btn{
    border-radius:25px ;
    width: 150px;
    height: 50px;
    background-color:#E8F6F8 ;
    color: black;
}

.body--empty-ask--header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
}

.body--empty-ask--header button{
  margin-right: 30px;
    margin-bottom: 25px;
}

.bode-empty-information{
    width: 900px;
    height: 60px;
    border-radius: 10px;
    background-color: #E8F6F8;
    margin-top: 15px;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    align-items: center;
    margin-right: 115px;
    padding: 25px;
}
.body--empty-DropDown{
    flex-direction: column;
    width: 900px;
    height: 80px;
    border-radius: 15px;
    background-color: #E8F6F8;
    margin-top:15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
margin-right: 220px;
    padding:30px 30px;
    border: none;


}
/*main ostad */

.sidebar-main ul {
    width: 255px ;
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items: start;
    float: right;

margin-top: -10px;
    list-style: none;
}
.sidebar-main  li{
    border: 3px solid rgba(128, 128, 128, 0.267);
    padding:15px 15px;
    border-radius: 15px;
    width: 200px;
}

.sidebar--order:hover {
    background-color: rgba(0, 0, 0, 0.37);
    transition: all 0.3s;
    border-radius: 10px;
    color: white;
}
/* class */
.body--empty--cls {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;

}
.body--empty--classes{
    border: 3px solid rgba(0, 0, 0, 0.10) ;
    border-radius: 15px;
    margin-right: 15px;
    padding: 20px;
    height: 300px;
}
.body--empty--classes button{
    margin-top: 35px;
  width: 100%;
}
.body--empty--checkBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.body--empty--checkBox input{
    margin-right: 15px;
    margin-top: 20px;
}
.body--empty--checkBox p{
    margin-right: 5px;
    margin-top: 20px;
}