@font-face {
  font-family: "iranYekan";
  src: url("../../../public/Font/Qs_Iranyekan.ttf");
}
.header {
  background-color: #cbd5e1;
  height: 50px;
}
.btn-bg {
  background: #cc9a06;
  color: white;
  transition: 0.5s;
}
.btn-bg:hover {
  background-color: #cc9a06;
  color: white;
  font-size: 1.1em;
}
.sidebar {
  width: 300px;
  position: fixed;
  top: 90px;
  right: 50px;
  overflow: hidden;
  background-color: #f4f4f4;
  height: 650px;
  z-index: 1000;
}
.main-content {
  margin-right: 350px;
  flex-grow: 1;
  height: 650px;
  margin-top: 40px;
  overflow: hidden;
}
.sideShadow {
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}
.profImg {
  width: 80px;
  height: 80px;
}
.profInfo {
  font-size: 12px;
  color: #777777;
}
.infoBorder {
  border-left: 1px solid rgba(119, 119, 119, 0.5);
}
.h-1 {
  height: 110px;
}
.custom-link {
  color: black;
  text-decoration: none;
}
.active-link {
  color: blue;
}
.pi-container {
  padding: 10px 20px 20px 20px;
  background-color: #f1f1f1;
  border-radius: 16px;
}
.pr-container {
  height: 100%;
  border-radius: 16px;
}
.oc-container {
  height: 100%;
  border-radius: 16px;
}
.piProfileImg {
  height: 200px;
  width: 200px;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.spanStyle {
  border-bottom: 1px solid #3083dc;
  font-size: 1.3rem;
}
.textStyle {
  font-size: 1rem;
  line-height: 1.5;
}
.card {
  border-style: none;
  margin: 20px;
  width: 90%;
  background: #eaf3fc;
  height: 150px;
}
.cardSpan {
  font-size: 15px;
  border-bottom: 1px solid #3083dc;
}
.cardInfo {
  font-size: 14px;
}
.section {
  width: 50%;
  margin: 10px auto;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* scroll bar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cc9a06 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cc9a06;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3083dc;
}
