.payment-cards {
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
}
.payment-card {
  width: 350px;
  height: 150px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  border-radius: 10px;
}
.payment-card p {
  margin-bottom: 0;
}
.btn-payment-card {
  padding: 4px 8px;
  background-color: #1938ff;
  border-radius: 10px;
  transition: all 0.3s;
}
.btn-payment-card:hover {
  background-color: #1938ffb9;
}
.payment-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.payment-cta {
  background-color: #bfd9f4;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 32px;
}
.payment-cta h3 {
  font-size: 20px;
}
