/* Create order sub-route */
.create-order-container {
  padding: 32px;
  margin: 0 10px 40px 10px;
}
.create-order-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c9e4f9;
  gap: 12px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
}
.create-order-title h1 {
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
.create-order-title span {
  font-size: 20px;
}
.create-order-about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 50px;
  justify-items: center;
  margin-bottom: 48px;
}

.create-order-about-card {
  width: 400px;
  display: flex;
  gap: 50px;
  align-items: end;
}
.create-order-about-card:last-child {
  grid-column: span 2;
}
.create-order-about-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.create-order-about-card-text h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.create-order-about-card-text p {
  font-size: 16px;
  font-weight: 700;
  color: #444;
}
.create-order-card-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-order-card-img button {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffe401;
  padding: 8px 4px;
  border-radius: 6px;
  transition: all 0.3s;
}
.create-order-card-img button:hover {
  background-color: #ffe601a0;
}
.create-order-form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}
.create-order-form-section {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}
.create-order-form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-order-form-input label {
  font-size: 16px;
  font-weight: 600;
}
.create-order-form-input label p {
  font-size: 14px;
  color: #7c7c7c;
  margin-top: 10px;
  margin-bottom: 0;
}
.create-order-form-input input,
.create-order-form-input select,
.create-order-form-input textarea {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #7c7c7c;
  padding: 5px 12px;
  background-color: transparent;
  font-size: 16px;
}

.create-order-description-input {
  grid-row: span 2;
}
.create-order-description-input textarea {
  height: 146px;
  text-align: start;
  resize: none;
}
.budget-select-input {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.budget-select-input::after {
  position: absolute;
  content: "تومان";
  font-size: 16px;
  font-weight: 500;
  color: #000;
  right: 35%;
}
.budget-select-input::before {
  position: absolute;
  content: "تومان";
  font-size: 16px;
  font-weight: 500;
  color: #000;
  left: 6%;
}
.create-order-form-input span {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  z-index: 100;
  left: 40%;
  top: 43px;
}
.create-order-form-priority {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}
.create-order-quality-select {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.create-order-quality-select div {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 20px;
  font-weight: 500;
}
.create-order-payment {
  display: flex;
  gap: 40px;
  width: 100%;
  margin-bottom: 56px;
}
.create-order-payment label {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;
  border-radius: 90px;
  box-shadow: 0 4px 10px 0 #1d3fd724;
}
.create-order-payment label input {
  width: 24px;
  height: 24px;
}
.create-order-submit {
  display: flex;
  justify-content: center;
}
.btn-primary {
  padding: 20px 40px;
  background-color: #ffe401;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 700;
  color: #111;
  border-radius: 14px;
}
.btn-primary:hover {
  background-color: #ffe601a0;
}
input[id="deadline"] {
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.featured-in-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 32px;
}
.featured-in-title span {
  color: #fbc055;
}
.featured-in-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
