@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan extrablack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranYekan";
  font-weight: 400;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.header__left {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  /*border: 1px solid gray;*/
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}
.container-effects {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.header__right {
  display: flex;
  flex-direction: row;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.267);
  border-radius: 5px;
  box-shadow: 2px 3px 3px 2px gray;
  height: 90px;
}
.header__right img {
  margin-left: 20px;
}
.header__right--img {
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
}
.header__right h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-project-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-nav-container {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
::placeholder {
  transform: translateX(-30px);
}
.search-input {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(94, 93, 93, 0.877);
  transition: all 0.3s ease;
}

.header-search-form {
  position: relative;
}
.header-search-btn {
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 7px;
  bottom: 8px;
  z-index: 40;
}
.search-input-home {
  padding: 7px 40px 7px 7px;
  border: 2px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.header__right--para {
  border-radius: 14px;
  border: 1px solid rgba(128, 128, 128, 0.336);
  margin: auto 15px;
  height: 40px;
}
.header__right-img {
  width: 56px;
  height: 56px;
  margin-top: 10px;
  margin-right: 20px;
}
.search-icon {
  position: absolute;
  left: 498px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  color: #888;
}
.search-icon-home {
  display: block;
  color: #888;
}

.header__left--img {
  width: 24px;
  height: 24px;
}

.header--dashobord {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header--dashbord-p {
  box-shadow: 0 2px 5px rgba(94, 93, 93, 0.877);
  padding: 5px;
  border-radius: 10px;
  width: 250px;
  flex-direction: row;
  justify-content: space-around;
}
.header--dashbord-p-home {
  padding: 7px;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.267);
  width: 250px;
  flex-direction: row;
  margin-right: 20px;
}
.header--dashbord-p p {
  margin-left: 80px;
}

.header--dashobord img {
  border: 1px solid white;
  border-radius: 50%;
}

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 1050px;
} */
/* .container { */
/* display: grid;
  gap: 10px;
  grid-template-columns: 220px 1fr;
  margin-top: 25px;
  max-width: 1320px !important;
  height: 665px;
  align-items: start; */
/* @apply */
/* } */
.container-request {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.container-money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.container-ticket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.sidebar--order {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  text-decoration: none;
  color: #111;
}

.sidebar-offer {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  width: 80px;
  margin-left: 150px;
}

.sidebar--order:hover {
  background-color: #b0d6ff;
  transition: all 0.3s;
}
.sidebar--order.active {
  background-color: #28303f;
  color: white;
  fill: white;
}

.sidebar-Room {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  /* height: 100%; */
  overflow: hidden;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
  width: 100%;
}
.sidebar-request ul {
  width: 130px;
  height: 800px;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  float: right;
  border: 3px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  list-style: none;
  margin-right: 20px;
}
.sidebar-request > ul > li > a > span {
  margin-right: 10px;
}
.sidebar-Room ul {
  width: 250px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  float: right;
  border: 3px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  list-style: none;
  margin-right: -65rem;
  margin-top: 1rem;
}
.sidebar-money ul {
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  float: right;
  border: 3px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  list-style: none;
}
.sidebar-ticket ul {
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  float: right;
  border: 3px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  list-style: none;
}

.sidebar-offer ul {
  /*width: 250px ;*/
  /*height: 665px;*/
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  float: right;
  /*border: 3px solid rgba(128, 128, 128, 0.267);*/
  border-radius: 10px;
  list-style: none;
}

.body--empty {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  border: 2px solid rgba(211, 211, 211, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.body--empty-moneyTwo {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 162px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
}
.body--empty-offer {
  width: 1150px;
  margin-right: 122px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  border: 2px solid rgba(211, 211, 211, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.container-money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.body--empty-money {
  width: 1200px;
  margin-right: 100px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  border: 2px solid rgba(211, 211, 211, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.body--empty-title {
  text-align: center;
  padding: 10px;
  background-color: #bce4c5;
  border-radius: 15px;
}
.body__empty--right-r {
  width: 400px;
  height: 154px;
  background-color: #e0ecfa;
  border-radius: 15px;
  margin: 30px auto;
  /*padding: 30px;*/
}
.body__empty--right-box {
  width: 150px;
  height: 60px;
  background-color: #beebe3;
  border-radius: 5px;
  text-align: center;
  margin-right: 250px;
  margin-top: -20px;
}
.body__empty--left {
  background-image: linear-gradient(rgb(14, 14, 14), rgb(14, 14, 14)),
    url("/public/img/Rectangle\ 4639.png");
  width: 400px;
  height: 182px;
  /*margin-right: 100px;*/
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.body__empty--left--p1 {
  color: white;
  margin-top: 20px;
  margin-right: 50px;
}
.body__empty--left--p2 {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-top: 30px;
}
.body__empty--left-3 {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
}
.body__empty--left-box {
  width: 150px;
  height: 240px;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: space-between;
  margin-right: 15px;
}
.body__empty--left--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__empty--left--container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body__empty--left--container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.body__empty--left-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 35px;
}
.body__empty--left-box1 {
  width: 140px;
  height: 48px;
  background-color: #fbec5d;
  border-radius: 10px;
  margin-top: -15px;
  margin-right: 3px;
}
.body__empty--left-box2 {
  width: 140px;
  height: 48px;
  background-color: #3083dc;
  border-radius: 10px;
  margin-top: -15px;
  margin-right: 3px;
}
.body__empty--left-box3 {
  width: 140px;
  height: 48px;
  background-color: #d3d3d3;
  border-radius: 10px;
  margin-top: -15px;
  margin-right: 2px;
}

.body__empty--left-box-p {
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
}
.body__empty--left-box-p2 {
  color: white;
}
.body__empty--left-box2-img {
  width: 117px;
  height: 123px;
  margin-top: 30px;
  margin-right: 20px;
}
.menu-left {
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
}
.menu-left a:hover {
  background-color: rgba(250, 180, 55, 1);
}

.menu-left-items-last {
  width: 150px;
  border: 1px solid rgb(86, 198, 21);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.menu-left-items {
  width: 150px;
  border: 1px solid rgba(0, 123, 255, 1);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.menu-left-konkor {
  width: 150px;
  border: 1px solid rgb(202, 14, 14);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.menu-left-us {
  width: 150px;
  /*background-color: rgba(250, 180, 55, 1);*/
  border: 1px solid rgba(0, 123, 255, 1);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.container--courses {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 55px;
  align-items: center;
}

.container--courses-content {
  border: 4px solid lightgray;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.container--courses-content img {
  width: 280px;
  height: 166px;
  border-radius: 12px;
  margin-top: 15px;
  margin-right: 7px;
}
.container--courses-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container--courses-content2 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.container--courses-content2 p {
  margin-right: -30px;
  font-size: 16px;
}
.container--courses-content--p {
  padding-right: 12px;
  font-size: 16px;
  margin-top: 10px;
}
.container--courses-content--p_light {
  padding-right: 12px;
  margin-top: 10px;
  font-size: 14px;
  color: rgba(87, 85, 85, 0.53);
}

.container--courses-content2 a {
  border-radius: 8px;
  width: 100px;
  background-color: rgba(250, 180, 55, 1);
  border: none;
  text-align: center;
  padding: 5px;
  margin-left: 7px;
}

.container--courses-content__rang {
  height: 18px;
  border-radius: 8px;
  background-color: rgba(230, 230, 232, 1);
  width: 250px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container--courses-content__rang2 {
  height: 18px;
  border-radius: 8px;
  background-color: rgba(40, 48, 63, 1);
  width: 100px;
  margin-right: 2px;
}

.container--courses-content__rang-p {
  text-align: center;
  color: rgba(250, 180, 55, 1);
  font-size: 14px;
}
.container--courses-content--btn {
  background-color: rgba(30, 37, 49, 1);
  border-radius: 8px;
  color: white;
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
.container--courses-content--btn:hover {
  background-color: rgba(30, 37, 49, 0.76);
}

.container--courses-content--btn a {
  text-decoration: none;
  color: white;
}

.body__live--class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: 20px auto;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(32, 134, 55, 0.63);
  padding: 20px;
}
.body__live--class-icon {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.body__live--class p {
  margin-right: 10px;
}
.body__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 1000px;
  background-color: rgba(40, 48, 63, 1);
  border-radius: 5px;
}
.body__info-money {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 1000px;
  margin-right: 150px;
  background-color: rgba(40, 48, 63, 1);
  border-radius: 5px;
  color: white;
}
.body__info-request {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  gap: 7rem;
  height: 40px;
  background-color: rgba(40, 48, 63, 1);
  color: white;
  border-radius: 10px;
}
.body__info-request p {
  margin-right: 50px;
}

.body__information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}
.body__information-money {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 900px;
  /*background-color: rgba(40, 48, 63, 1);*/
  border-radius: 5px;
  margin-right: 250px;
  margin-top: 25px;
  font-family: "Vazir FD-WOL";
}

.body__information2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 200px;
  width: 90%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
}
.bode--p {
  margin-bottom: 15px;
  margin-right: 75px;
}
.body__information p {
  color: black;
  font-size: 16px;
}
.body__info p {
  color: white;
}
.body__information2 p {
  color: black;
  font-size: 12px;
}

.information-data {
  width: 700px;
  height: 40px;
  background-color: rgba(40, 48, 63, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -80px;
}
.information-data p {
  color: white;
}
.information-data-2 p {
  margin-top: -100px;
  margin-left: 60px;
}

.information-data-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 200px;
  width: 100%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
  margin-top: 15px;
}
.information-data-time {
  width: 700px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.information-data-dashed {
  background-color: rgba(171, 171, 171, 1);
  width: 700px;
  height: 4px;
}
.information-data-dashed-request {
  background-color: rgba(171, 171, 171, 1);
  width: 900px;
  height: 4px;
  margin: 1rem 4.5rem 1rem 0;
}
.container__empty--btn1 {
  background-color: rgba(36, 98, 165, 1);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
  border: none;
}
.container__empty--btn2 {
  background-color: rgba(21, 146, 166, 1);
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;

  margin-right: 30px;
}
.body__money-dashed {
  background-color: rgba(171, 171, 171, 1);
  width: 700px;
  height: 4px;
  margin-top: 15px;
  margin-right: 350px;
}
.body__info--para {
  font-size: 22px;
  margin-top: 25px;
  font-weight: bold;
}
.body__info--para-money {
  font-size: 22px;
  margin-top: 25px;
  font-weight: bold;
  margin-right: 15px;
}

.information__money--footer {
  background-color: rgba(251, 236, 93, 1);
  color: black;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 350px;
  padding: 10px;
  font-size: 11px;
}
.sidebar-offer--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 30px;
}
.container--offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
}
.container--offer-right {
  border: 2px dashed rgba(153, 153, 153, 1);
  padding: 120px 55px;
}
.container--offer-right p {
  text-align: center;
}
.container--offer-left {
  border: 2px dashed rgba(153, 153, 153, 1);
  padding: 20px 55px;
}

.container--offer-left-p1 {
  background-color: rgba(40, 167, 69, 1);
  border-radius: 15px;
  width: 170px;
  margin-top: 20px;
  padding-right: 10px;
}
.container--offer-left-p2 {
  background-color: rgba(255, 193, 7, 1);
  border-radius: 15px;
  width: 120px;
  margin-top: 20px;
  padding-right: 10px;
}
.container--offer-left-p3 {
  background-color: rgba(198, 48, 62, 1);
  display: flex;
  flex-direction: row;
  /*justify-content: start;*/
  border-radius: 15px;
  width: 250px;
  margin-top: 20px;
}

.container--offer-left-p3 p {
  margin-right: 25px;
  color: rgba(255, 255, 255, 1);
  padding-right: 10px;
}
/*
*/

.body--empty-request {
  width: 1050px;
  margin-right: 262px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  border: 2px solid rgba(211, 211, 211, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.body--empty-ticket {
  width: 1200px;
  margin-right: 102px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  /*border:2px solid rgba(211, 211, 211, 1);*/
  /*box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);*/
}

.footer-box-para {
  font-size: 20px;
  margin-left: 60px;
}
.body__class--para {
  font-size: 22px;
  margin-top: 85px;
  font-weight: bold;
  text-align: center;
  margin-left: 600px;
}
.body__info--class {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 150px;
  height: 40px;
  width: 1000px;
  background-color: rgba(40, 48, 63, 1);
  border-radius: 5px;
  padding-right: 50px;
  color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranYekan";
}
@font-face {
  font-family: "iranYekan";
  src: url("/public/Font/Qs_Iranyekan.ttf"); /* IE9 Compat Modes */
  src: url("/public/Font/Qs_Iranyekan black.ttf") format("ttf"),
    /* IE6-IE8 */ url("/public/Font/Qs_Iranyekan bold.ttf") format("ttf"),
    /* Super Modern Browsers */ url("/public/Font/Qs_Iranyekan extrablack.ttf")
      format("ttf"),
    /* Pretty Modern Browsers */ url("/public/Font/Qs_Iranyekan extrabold.ttf")
      format("ttf"),
    /* Safari, Android, iOS */ url("/public/Font/Qs_Iranyekan medium.ttf")
      format("ttf"),
    /* Legacy iOS */ url("/public/Font/Qs_Iranyekan thin.ttf") format("ttf"); /* Legacy iOS */
}

.body--empty--card {
  width: 500px;
  height: 140px;
  border: 3px solid rgb(227, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-right: 30px;
  padding-top: 15px;
}
.body--empty--card-position {
  display: flex;
  justify-content: space-between;
}
.body--empty--card-position-p {
  margin-left: 30px;
  color: rgba(191, 145, 5, 1);
  font-weight: bold;
}
.body--empty--card-position-p1 {
  color: rgba(35, 143, 124, 1);
  margin-left: 30px;
  font-weight: bold;
}
.body--empty--card-position-p3 {
  color: rgba(165, 40, 52, 1);
  margin-left: 30px;
  font-weight: bold;
}
.body--empty--card-position-p4 {
  margin-left: 30px;
  color: black;
  font-weight: bold;
}
.body--empty--card-position-p {
  margin-left: 30px;
  color: rgba(191, 145, 5, 1);
  font-weight: bold;
}
.body--empty--row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.body--empty-show-order {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: -10px;
}

/* room */

.body--empty--room--container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:1050px; */
  /* margin-right: 42rem; */
  /* height:800px; */
  border-radius: 10px;
  background-color: white;
  /* margin-top:-50rem; */
}
.body--empty--room-notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 25rem;
  margin-left: -80rem;
}
.add-project {
  padding: 9px 12px 12px 12px;
  background-color: rgba(29, 64, 215, 1);
  border: none;
  border-radius: 50%;
}
.add-project-para {
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.body--empty-right {
  height: 799px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(219, 216, 216);
  margin-right: -7rem;
}
.body--empty-notification-right {
  height: 799px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(219, 216, 216);
  margin-right: -20rem;
  margin-top: -49.4rem;
  width: 550px;
}
.body--empty--para {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
.body--empty-left-room {
  border: 3px solid rgba(211, 211, 211, 1);
  width: 55%;
  margin-left: -5rem;
  margin-right: 2rem;
  height: 449px;
  border-radius: 10px;
  background-color: white;
}
.body--empty-left {
  border: 3px solid rgba(211, 211, 211, 1);
  width: 45%;
  height: 449px;
  border-radius: 10px;
  background-color: white;
}
.body--empty-left-room-items {
  width: 55%;
  height: 449px;
  border-radius: 10px;
  background-color: white;
}
.body--empty-left-items {
  width: 45%;
  height: 449px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.body--empty-right-title {
  background-color: rgba(217, 217, 217, 1);
  height: 30px;
  width: 490px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.body--empty-right-title p {
  font-size: 14px;
  margin-right: -2rem;
}
.body--empty-right-item {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.body--empty-room-work {
  display: flex;
  justify-content: space-around;
  align-items: top;
  margin-right: 20rem;
  margin-top: -50rem;
}
.body__empty-left-news {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid #edecec;
  margin-top: 10px;
  padding-top: 10px;
  /*padding-right:20px;*/
  padding-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__empty-left-room-news {
  width: 420px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid #edecec;
  margin-top: 10px;
  padding-top: 10px;
  /*padding-right:20px;*/
  padding-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__empty-left-news p {
  margin-right: -60px;
}
.body__empty-left-room-news p:nth-child(1) {
  margin-left: 2rem;
}

.body__empty-left-notification {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: 20px;
}

.body__empty--left-bg {
  position: relative;
}
.body__empty--left--img {
  width: 450px;

  margin-right: 2px;
  border-radius: 10px;
}
.body__empty--left-bg p {
  color: white;
  position: absolute;
  margin-right: 180px;
  margin-top: 25px;
}

/*notification*/

.body--empty-left--notification {
  border: 3px solid rgba(211, 211, 211, 1);
  width: 70%;
  height: 665px;
  border-radius: 10px;
  background-color: white;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: -49rem;
  margin-right: 1rem;
}
.body__empty--left-p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.body--empty-left-btn {
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background-color: #2ebfa5;
  color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 250px;
}

/* chat */
.body--empty-chats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.body--empty--chat {
  width: 409px;
  height: 171px;
  border: 2px solid gray;
  border-radius: 6px;
}

.body--empty-chats-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 130px;
}

.body--empty-chats--container-right {
  display: flex;
  margin-top: 400px;
  margin-right: 40px;
}
.body--empty-chats--container-right img {
  margin-left: 20px;
}
.body--empty-chats--container-left {
  display: flex;
  margin-top: 100px;
  margin-left: 40px;
}
.body--empty-chats--container-left img {
  margin-right: 20px;
}
.body--empty-chats-search {
  width: 850px;
  height: 44px;
  border-radius: 10px;
  margin-top: 155px;
  margin-right: 100px;
  border: 1px solid #b0b2b6;
  position: relative;
}

.body--empty-chats-icon {
  position: absolute;
  margin-top: 163px;
  margin-right: -45px;
}
/* pay */

.body--empty-pay-container {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
}

.body--empty--header {
  display: flex;
  justify-content: space-evenly;
}

.body--header-items {
  width: 300px;
  height: 140px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.body--header-items p {
  text-align: center;
  margin-top: 15px;
}
.body--header-items button {
  background-color: #1938ff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-right: 90px;
  margin-top: 6px;
}
.body--empty-pay {
  height: 799px;
  border-radius: 10px;
  background-color: white;
}

.body--empty-right-title-pay {
  color: white;
  background-color: #28303f;
  height: 30px;
  width: 97%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 10px;
}
.body--empty-right-title-pay p {
  margin-right: 75px;
}

.body--empty--para-pay {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 20px;
}
.body--empty-pay-footer {
  background-color: #bfd9f4;
  width: 988px;
  height: 169px;
  border-radius: 10px;
  margin-top: 140px;
  margin-right: 30px;
}

.body--empty-pay-footer p {
  text-align: center;
  color: black;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.body--empty-pay-footer button {
  background-color: #1938ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-right: 42%;
}

/* ticket*/

.main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 20px;
}
.box {
  background: white;
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,
td {
  padding: 8px 10px;
  text-align: center !important;
}
/* th {
  background: #001f3f;
  color: white;
} */
.status {
  font-weight: bold;
}
.pending {
  color: orange;
}
.answered {
  color: green;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-group input[type="checkbox"] {
  width: auto;
}
.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.footer-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  /*display: flex;*/
  text-align: left;
}
.footer-icons {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 25px;
  font-size: 1.5rem;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

.footer-address {
  text-align: start;
  margin-top: -80px;
}

/* asked questions*/

.body--empty-btn-first {
  width: 150px;
  height: 50px;
  background-color: #17a2b8;
  color: white;
  border-radius: 25px;
}
.body--empty-asked {
  width: 1200px;
  margin-right: 102px;
  height: 590px;
  border-radius: 10px;
  background-color: white;

  /*border:2px solid rgba(211, 211, 211, 1);*/
  /*box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);*/
}

.body--empty-btn {
  border-radius: 25px;
  width: 150px;
  height: 50px;
  background-color: #e8f6f8;
  color: black;
}

.body--empty-ask--header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
}

.body--empty-ask--header button {
  margin-right: 30px;
  margin-bottom: 25px;
}

.bode-empty-information {
  width: 900px;
  height: 60px;
  border-radius: 10px;
  background-color: #e8f6f8;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-right: 115px;
  padding: 25px;
}
.body--empty-DropDown {
  flex-direction: column;
  width: 900px;
  height: 80px;
  border-radius: 15px;
  background-color: #e8f6f8;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 220px;
  padding: 30px 30px;
  border: none;
}
/*main ostad */

.sidebar-main ul {
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  float: right;

  margin-top: -10px;
  list-style: none;
}
.sidebar-main li {
  border: 3px solid rgba(128, 128, 128, 0.267);
  padding: 15px 15px;
  border-radius: 15px;
  width: 200px;
}

/* class */
.body--empty--cls {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.body--empty--classes {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 15px;
  padding: 20px;
  height: 300px;
}
.body--empty--classes button {
  margin-top: 35px;
  width: 100%;
}
.body--empty--checkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body--empty--checkBox input {
  margin-right: 15px;
  margin-top: 20px;
}
.body--empty--checkBox p {
  margin-right: 5px;
  margin-top: 20px;
}

/* order_place */

.body--empty-order-place {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  border: 2px solid rgba(211, 211, 211, 1);
  margin-bottom: 5rem;
}
.title-place_order {
  width: 90%;
  height: 144px;
  background-color: rgba(201, 228, 249, 1);
  border-radius: 10px;
  margin-top: 3rem;
  margin-right: 3rem;
  gap: 10px;
}
.title-place_order-para {
  text-align: center;
  padding-top: 25px;
  font-size: 24px;
}
.place_order-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-top: 25px;
}
.place_order-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 80px;
  margin-right: 60px;
  border: 1px solid rgba(226, 7, 7, 0.1);
  width: 420px;
  height: 170px;
  border-radius: 20px;
}

.place_order-items2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 7rem;
  margin-right: 18rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 170px;
  border-radius: 20px;
}

.place_order-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.place_order-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 126px;
  height: 154px;
}
.place_order-item-content img {
  margin-right: 7rem;
  margin-top: -6rem;
}
.place_order-item-content button {
  background-color: rgba(255, 228, 1, 1);
  color: black;
  width: 156px;
  height: 40px;
  border-radius: 8px;
  margin-right: 7rem;
  margin-top: 2rem;
  font-size: 16px;
}
.place_order-item-content-p {
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  margin-right: -3rem;
}
.place_order-item-content-p-little {
  width: 210px;
  margin-right: -3rem;
  margin-top: 15px;
}

.place_order-Category {
  width: 450px;
  height: 48px;
  border-radius: 8px;
  margin-top: 0.5rem;
}
.place_order-form-conatiner {
  margin-right: 4rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.place_order-form-full-conatiner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.place_order-info {
  float: left;
  width: 450px;
  height: 160px;

  border-radius: 8px;
  border: 1px solid rgba(124, 124, 124, 1);
}
.place_order-information {
  margin-left: 3rem;
  margin-top: 3rem;
}
.place_order-information > label {
  font-weight: 700;
}
.place_order-label {
  font-weight: 700;
}
.place_order-info-title {
  margin-top: 2rem;
  margin-right: 3.9rem;
}

.place_order-time-budge {
  margin-right: 4.3rem;
  margin-top: 1.8rem;
}
.place_order-time {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.place_order-budge-p {
  color: rgba(124, 124, 124, 1);
  margin-top: 0.4rem;
}

.place_order-range-budge {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 4.2rem;
  margin-top: 2rem;
}
.place_order-range-budge input {
  border-radius: 8px;
  border: 1px solid rgba(124, 124, 124, 1);
  width: 250px;
}
.place_order-range-budge select {
  border-radius: 8px;
  border: 1px solid rgba(124, 124, 124, 1);
  width: 150px;
}
.place_order-priority-p {
  margin-right: 4rem;
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 800;
}
.place_order-priority-input {
  margin-right: 4rem;
  margin-top: 0.5rem;
  gap: 1rem;
  display: flex;
}
.place_order-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  margin-top: 3rem;
}
.place_order-card {
  width: 180px;
  height: 300px;
  border-radius: 15px;
  border: 1px solid rgb(218, 216, 216);
  text-align: center;
  font-size: 18px;
}
.place_order-card p {
  font-size: 20px;
  margin-top: 1.5rem;
}
.place_order-payment {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.place_order-payment-zarin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 497px;
  height: 105px;
  border-radius: 50px;
  border: 1px solid rgb(243, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.place_order-payment-bagmoney {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 497px;
  height: 105px;
  border-radius: 50px;
  border: 1px solid rgb(243, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.place_order-payment-btn {
  text-align: center;
  background-color: rgba(255, 228, 1, 1);
  color: black;
  font-size: 24px;
  margin-right: 27.8rem;
  margin-top: 2.6rem;
}

.place_order-priority-footer {
  margin-right: 20rem;
  margin-top: 3rem;
  font-size: 26px;
  font-weight: 900;
}
.place_order-footer-p {
  color: rgba(251, 192, 85, 1);
  font-weight: 900;
}
.place_order-footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.place_order-footer-logo img {
  width: 250px;
  height: 89px;
  border-radius: 8px;
}

/* setting */

.setting-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.5rem;
  align-items: center;
  margin-top: 98px;
  margin-bottom: 89px;
}
.setting-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 20px;
}
.setting-col-order {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  position: relative;
}

.setting-col p {
  font-size: 18px;
  font-weight: 700;
  width: 230px;
}

/* search */

.search-input {
  width: 700px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10rem;
}
.search-icon {
  position: absolute;
  margin-left: -8.5rem;
}
.serach-container {
  position: relative;
  margin-top: 8rem;
}
.serach-Popular-services {
  display: flex;
  margin-top: 3rem;
  margin-right: 4rem;
}
.search-suggestion {
  display: flex;
  gap: 1.9rem;
  margin-right: 3.9rem;
  margin-top: 1.5rem;
}
.search-suggestion > div {
  height: 30px;
  border: 1px solid rgba(127, 127, 127, 1);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.body--empty-search {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  height: 800px;
  border: 2px solid rgba(211, 211, 211, 1);
  margin-bottom: 5rem;
}

/* CEO */

.CEO__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.CEO__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(235, 233, 233, 0.89);
  padding: 35px;
  background-color: rgba(188, 228, 197, 1);
  margin-top: 2.5rem;
  border-radius: 10px;
}
.CEO__item-once {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(235, 233, 233, 0.89);
  padding: 35px;
  background-color: rgba(176, 214, 255, 1);
  margin-top: 2.5rem;
  border-radius: 10px;
}

.CEO__item-once img {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.CEO__item-once p {
  margin-bottom: 10px;
}

.CEO__item-second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(235, 233, 233, 0.89);
  padding: 35px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 2.5rem;
  border-radius: 10px;
}
.CEO__item-second img {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.CEO__item-second p {
  margin-bottom: 10px;
}

.CEO__item-thierd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(235, 233, 233, 0.89);
  padding: 35px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 2.5rem;
  border-radius: 10px;
  width: 290px;
  margin-right: 24.2rem;
}
.CEO__item-thierd img {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.CEO__item-thierd p {
  margin-bottom: 10px;
}

.CEO__item img {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
}
.CEO__item p {
  margin-bottom: 10px;
}

/* OrderExecutors */

.body--empty-order-executors {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
  height: 800px;

  margin-bottom: 5rem;
}
.Order-Executors-container {
  display: flex;
}

.search-manegment-line {
  width: 550px;
  height: 800px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.search-manegment-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-top: 40px;
}
.search-manegment-line h3 {
  text-align: center;
  margin-top: 35px;
}

.search-manegment-input {
  width: 217px;
  height: 40px;
  border-radius: 10px;
  margin-right: 0.9rem;
}
.search-manegment-label {
  margin-right: 0.9rem;
  font-size: 18px;
}
.search-manegment-btn {
  float: left;
  margin-top: 1.2rem;
  margin-left: 2.3rem;
  background-color: rgba(48, 131, 220, 1);
  color: black;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.search-manegment-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9.5rem;
  background-color: rgba(40, 48, 63, 1);
  width: 453px;
  height: auto;
  border-radius: 10px;
  color: white;
  margin-top: 5rem;
  margin-right: 1.6rem;
}

.programmes-managmentLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
}
.programmer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.programmer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* orderprogress */

.order-counte {
  width: 1030px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 0.6rem;
}

.order-counte-icon {
  display: flex;
  margin-left: 1rem;
}
.order-counte-icon p {
  margin-left: 1rem;
}

.order-counte-p {
  margin-right: 1rem;
}

.fase_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
}

.fase_container-col {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: auto;
  overflow-wrap: break-word;
  white-space: normal;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 15px;
}
.fase-title {
  text-align: center;
  font-size: 22px;
  margin-top: 0.8rem;
}
.order-progress-fase {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 1.5rem;
}
.order-progress-fase p {
  margin-top: 0.2rem;
}

.body--empty-progress {
  width: 1050px;
  margin-left: -1600px;
  margin-right: 262px;
  border-radius: 10px;
  background-color: white;
  margin-top: 2px;
}

/* home freelancer */

.freelancer-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25rem;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
.header-bottom Link {
  color: black;
  text-decoration: none;
}
.header-bottom-link {
  color: black;
  text-decoration: none;
}
.header-line {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 66rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-title {
  color: rgba(250, 180, 55, 1);
}
.header-icon img {
  width: 100px;
  height: 100px;
}
.header-icon {
  margin-bottom: -5rem;
  margin-right: 0.5rem;
}
.heder-icons-btn {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
}

.body-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* width: 1440px; */
  height: 415px;
  border-radius: 8px;
  background-color: rgba(201, 228, 249, 1);
  margin-top: 1rem;
  gap: 25rem;
}

.body-seach-paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10rem;
  font-size: 28px;
}
.body-seach-paragraphs p {
  margin-top: 1.5rem;
  font-weight: 600;
}

.freelancer-body-seach-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(201, 228, 249, 1);
}
.freelancer-body-seach-input input {
  width: 673px;
  height: 64px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  border: none;
  margin-bottom: 1rem;
}
.freelancer-body-seach-input img {
  position: absolute;
  margin-left: -38rem;
}
.freelancer-level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(213, 232, 219, 1);
  border-radius: 8px;
  margin-top: 1rem;
  gap: 1.5rem;
}
.freelancer-level button {
  background-color: rgba(0, 200, 63, 1);
  color: white;
  width: 340px;
  border-radius: 8px;
  margin-right: 1rem;
}
.freelancer-level-border {
  border: 1px dashed rgba(250, 180, 55, 1);
  border-radius: 50%;
  padding: 6px 6px;
}
.freelancer-body-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}
.freelancer-count {
  width: 300px;
  height: 160px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  text-align: center;
  margin-top: 2rem;
}
.freelancer-count img {
  margin-top: 1.5rem;
}
.freelanser-count-para {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20rem;
  margin-top: 0.5rem;
}

/* Admin home */
.dashbord-admin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.dashbord-admin-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgb(235, 233, 233);
  width: 210px;
  gap: 1rem;
  padding: 10px 0;
  margin-right: -10rem;
}
.dashbord-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
  margin-right: 10rem;
}
.dashbord-admin-profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.dashbord-admin-left-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 233, 233);
  width: 1118px;
  height: 758px;
  margin-right: 14rem;
  border-radius: 18px;
}
.dashbord-admin-left-body-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 233, 233);
  width: 1118px;
  height: 558px;
  margin-right: 14rem;
  border-radius: 18px;
}

.admin-dashbord-Acordin {
  margin-right: -10.2rem;
  width: 207px;
}
.btn-img {
  display: flex;
  gap: 1rem;
}
.btn-img img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.professor-font {
  color: black;
  font-weight: 300;
  padding: 10px;
  font-size: 12px;
  display: block;
}
.professor-font:hover {
  background-color: rgba(40, 48, 63, 1);
  color: white;
  border-radius: 8px;
}

.button-showPerson {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  border-radius: 8px;
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  height: 50px;
}

.dashboard-admin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dashbord-admin-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.dashbord-admin-up-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 233, 233);
  width: 1118px;
  height: 758px;
  margin-right: 14rem;
  border-radius: 18px;
  margin-top: -9rem;
}

.dashbord-admin-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.dashbord-admin-inputs input,
select {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(235, 234, 234);
}
.dashbord-admin-col {
  display: flex;
  flex-direction: column;
}
.dashbord-admin-input-secondary {
  margin-top: 3rem;
  margin-right: -20rem;
}
.dashbord-admin-col-lang {
  width: 520px;
  height: 68px;
  border-radius: 5px;
  border: 1px solid rgb(221, 219, 219);
  display: block;
  gap: 1rem;
}
.dashbord-admin-col-lang button {
  margin-top: 0.5rem;
  margin-right: 1rem;
  background-color: white;
  color: black;
  border: 1px solid rgba(23, 162, 184, 1);
  border-radius: 8px;
}
.dashbord-admin-col-lable-lang {
  margin-right: 17rem;
  display: flex;
  flex-direction: column;
}

.dasbord-admin-left-paragraph {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.dasbord-admin-left-paragraph-employe {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: -45rem;
}
.dasbord-admin-left-paragraph-left {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: 45rem;
  margin-top: 6rem;
}
.dasbord-admin-left-paragraph-status {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: 45rem;
}
.dasbord-admin-left-paragraph-project {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: -45rem;
  margin-top: 6rem;
}
.dasbord-admin-left-paragraph2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: 48rem;
  height: 700px;
}
.dasbord-admin-left-para {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  margin-left: 47.5rem;
}

.dashbord-admin-left-container-newProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 1100px;
  margin-right: 14rem;
  position: relative;
  margin-top: 22rem;
}
.dashbord-admin-left-btn1 {
  background-color: rgb(49, 204, 176);
  color: black;
  border-radius: 5px;
  width: 105px;
  height: 37px;
  font-size: 11px;
  margin-top: 5rem;
}
.dashbord-admin-left-btn2 {
  background-color: rgba(251, 236, 93, 1);
  color: black;
  border-radius: 5px;
  width: 219px;
  height: 37px;
  margin-top: 5rem;
  font-size: 13px;
}

/* task project */

.task-project-p {
  text-align: right;
}
.project-task-div1 {
  width: 252px;
  height: 163px;
  border-radius: 10px 10px 10px 0;
  margin-top: 150px;
  background-color: rgba(183, 226, 233, 1);
  margin-right: 40px;
}
.project-task-div2 {
  width: 252px;
  height: 98px;
  border-radius: 10px 10px 0 10px;
  background-color: rgba(241, 241, 241, 1);
  margin-right: 40px;
  margin-top: 10px;
}
.project-task-div3 {
  width: 252px;
  height: 58px;
  border-radius: 10px 10px 0 10px;
  background-color: rgba(183, 226, 233, 1);
  margin-right: 40px;
}
.project-task-div4 {
  width: 252px;
  height: 58px;
  border-radius: 10px 10px 0 10px;
  background-color: rgba(241, 241, 241, 1);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.task-project-div3-p {
  text-align: center;
  border-bottom: 1px solid rgb(223, 223, 221);
}
.task-project-inputs {
  display: flex;
  flex-direction: column;
}

/* regesteremploye notification */

.dasbord-admin-left-btns {
  display: flex;
  flex-direction: row;
}
.dasbord-admin-left-btns button {
  width: 250px;
  border-radius: 0px 10px 0 0;
  margin-top: -10px;
}

.dasbord-admin-left-checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.dasbord-admin-left-checkBox p {
  margin-top: 1.4rem;
  margin-right: 0.4rem;
}
.dasbord-admin-left-divBig {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 750px;
  border: 1px solid #dfdcdc;
  height: 500px;
  margin-right: 23rem;
  margin-top: -12.5rem;
  border-radius: 10px;
  padding-right: 10px;
}
.dasbord-admin-left-divBig-input1 {
  width: 300px;
  height: 40px;
  margin-top: 1rem;
  border: 1px solid #e7e5e5;
  border-radius: 10px;
}
.dasbord-admin-left-divBig-input2 {
  width: 718px;
  height: 227px;
  margin-top: 1rem;
  border: 1px solid #e7e5e5;
  border-radius: 10px;
}

/* file task project */
.dashbord-admin-left-container-fileTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 1100px;
  margin-right: 14rem;
  position: relative;
  margin-top: 0rem;
}
.title-accordion {
  display: flex;
  flex-direction: row;
  gap: 13rem;
}
.div-formated {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(223, 220, 220);
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  margin-right: 10rem;
  gap: 1.5rem;
}

/* resome professor */

.title-accordion-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.title-accordion-rows {
  display: flex;
  flex-direction: row;
  gap: 39rem;
}
.title-accordion-row button {
  border-radius: 5px;
}
.resome-info {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  text-align: start;
  width: 100%;
}
.resome-info p {
  width: 820px;
}
.lesson-languaghe {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 1rem;
}
.lesson-languaghe button {
  border-radius: 15px;
  border: 1.5px solid rgba(41, 172, 149, 1);
  background-color: white;
  color: black;
  padding: 5px;
}
.video-resome-professor {
  width: 736px;
  height: 413px;
  margin-right: 10rem;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.orders-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
}
.order-card {
  width: 500px;
  height: 174px;
  border-radius: 10px;
  padding: 24px 12px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.order-card h3 {
  font-weight: 800;
  margin-bottom: 16px;
}
.order-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.order-card span {
  font-weight: 800;
}
.order-card:hover {
  background-color: rgba(240, 240, 240, 1);
  cursor: pointer;
  box-shadow: none;
}

.outlet-container {
  height: 100%;
  overflow-x: scroll;
  padding: 2px 10px;
}
.notification {
  padding: 16px;
  font-size: 16px;
}
.is-unread-notif {
  padding: 5px;
  display: inline-block;
  background-color: red;
  margin-right: 20px;
  border-radius: 100%;
}
.btn-secondary {
  padding: 5px 24px;
  background-color: #3083dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-secondary:hover {
  background-color: #5595da;
}
.home-container {
  height: 100%;
}
.rounded-table {
  margin-bottom: 20px;
}
.rounded-table th {
  background-color: #28303f;
  color: white;
  /* padding: 10px; */
}

.rounded-table th:first-child {
  border-radius: 0 10px 10px 0;
}

.rounded-table th:last-child {
  border-radius: 10px 0 0 10px;
}
