 
 USE FartakDB
go

-- Insert top-level categories
INSERT INTO TeacherTypes (TeacherTypeParentId, Title) VALUES (0, N'کسب و کار');
INSERT INTO TeacherTypes (TeacherTypeParentId, Title) VALUES (0, N'دبستان');
INSERT INTO TeacherTypes (TeacherTypeParentId, Title) VALUES (0, N'متوسطه اول');

-- Declare variables for top-level categories
DECLARE @Business BIGINT, @Elementary BIGINT, @MiddleSchool BIGINT, @HighSchool BIGINT, @EntranceExam BIGINT, @University BIGINT;

-- Get IDs of top-level categories
SELECT @Business = TeacherTypeId FROM TeacherTypes WHERE Title = N'کسب و کار';
SELECT @Elementary = TeacherTypeId FROM TeacherTypes WHERE  Title = N'دبستان';
SELECT @MiddleSchool = TeacherTypeId FROM TeacherTypes WHERE  Title = N'متوسطه اول';
SELECT @HighSchool = TeacherTypeId FROM TeacherTypes WHERE  Title = N'متوسطه دوم';
SELECT @EntranceExam = TeacherTypeId FROM TeacherTypes WHERE  Title = N'کنکور';
SELECT @University = TeacherTypeId FROM TeacherTypes WHERE  Title = N'دانشگاه';

-- Insert subcategories for 'کسب و کار'

-- Insert subcategories for 'دبستان'

-- Insert subcategories for 'متوسطه اول'

-- Insert subcategories for 'متوسطه دوم'

-- Insert subcategories for 'کنکور'

-- Insert subcategories for 'دانشگاه'

-- Declare variables for business subcategories
DECLARE @IT BIGINT, @English BIGINT, @DigitalMarketing BIGINT, @BusinessExam BIGINT, @Microsoft BIGINT, @Translation BIGINT, @GraphicDesign BIGINT, @StockMarket BIGINT, @ArtMusic BIGINT, @MathStats BIGINT;

-- Get IDs of business subcategories
SELECT @IT = TeacherTypeId FROM TeacherTypes WHERE  Title = N'برنامه نویسی و آی تی' AND TeacherTypeParentId = @Business;
SELECT @English = TeacherTypeId FROM TeacherTypes WHERE  Title = N'زبان انگلیسی' AND TeacherTypeParentId = @Business;
SELECT @DigitalMarketing = TeacherTypeId FROM TeacherTypes WHERE  Title = N'دیجیتال مارکتینگ و هوش مصنوعی' AND TeacherTypeParentId = @Business;
SELECT @BusinessExam = TeacherTypeId FROM TeacherTypes WHERE  Title = N'کنکور' AND TeacherTypeParentId = @Business;
SELECT @Microsoft = TeacherTypeId FROM TeacherTypes WHERE  Title = N'مایکروسافت (اکسل ، ورد و پاورپوینت )' AND TeacherTypeParentId = @Business;
SELECT @Translation = TeacherTypeId FROM TeacherTypes WHERE  Title = N'ترجمه و محتوا' AND TeacherTypeParentId = @Business;
SELECT @GraphicDesign = TeacherTypeId FROM TeacherTypes WHERE  Title = N'گرافیک دیزاین' AND TeacherTypeParentId = @Business;
SELECT @StockMarket = TeacherTypeId FROM TeacherTypes WHERE  Title = N'بورس سهام و ارز دیجیتال' AND TeacherTypeParentId = @Business;
SELECT @ArtMusic = TeacherTypeId FROM TeacherTypes WHERE  Title = N'هنر و موسیقی و مهارت ها' AND TeacherTypeParentId = @Business;
SELECT @MathStats = TeacherTypeId FROM TeacherTypes WHERE  Title = N'آمار داده و ریاضی' AND TeacherTypeParentId = @Business;

-- Insert items for 'برنامه نویسی و آی تی'

-- Insert items for 'زبان انگلیسی'

-- Insert university courses
